<a href="https://colab.research.google.com/github/JimKing100/Multiple_Offers/blob/master/model/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Installs
%%capture
!pip install category_encoders==2.0.0

In [0]:
# Import libraries
import pandas as pd
import numpy as np

from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
import category_encoders as ce
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.impute import SimpleImputer


import category_encoders as ce
from joblib import dump

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/Multiple_Offers/master/Marin-MulitOffers-2015-2019-Final.csv')

In [4]:
df.head()

   Year  Area  ...  Number of Offers  Selling Price
0  2015    10  ...                 2        3400000
1  2015    10  ...                 2        3783000
2  2015    10  ...                 2        2675000
3  2015    10  ...                 2        3200000
4  2015    10  ...                 2        3100000

[5 rows x 7 columns]

In [5]:
low_cutoff = 2015
high_cutoff = 2019
train = df[(df['Year'] >= low_cutoff) & (df['Year'] < high_cutoff)]
test  = df[df['Year'] >= high_cutoff]
print(train.shape)
print(test.shape)

(3964, 7)
(776, 7)

In [6]:
# Split train into train and validation
cutoff = 2018
temp=train.copy()
train = temp[temp['Year'] < cutoff]
val  = temp[temp['Year'] >= cutoff]
print(train.shape, val.shape, test.shape)

(2973, 7) (991, 7) (776, 7)

In [7]:
# Encode and fit a linear regression model
target = 'Selling Price'

features = train.columns.drop(target)
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]
y_test = test[target]

pipeline = make_pipeline(
  ce.OrdinalEncoder(),
  SimpleImputer(strategy='mean'),
  LinearRegression()
)

pipeline.fit(X_train, y_train)
dump(pipeline, 'pipeline.joblib')
y_pred = pipeline.predict(X_val)

# Print regression metrics for validation 
val_mse = mean_squared_error(y_val, y_pred)
val_rmse = np.sqrt(val_mse)
val_mae = mean_absolute_error(y_val, y_pred)
val_r2 = r2_score(y_val, y_pred)
print('Validation Mean Absolute Error:', val_mae)
print('Validation R^2:', val_r2)
print('\n')

ty_pred = pipeline.predict(X_test)

# Print regression metrics for test
test_mse = mean_squared_error(y_test, ty_pred)
test_rmse = np.sqrt(test_mse)
test_mae = mean_absolute_error(y_test, ty_pred)
test_r2 = r2_score(y_test, ty_pred)
print('Test Mean Absolute Error:', test_mae)
print('Test R^2:', test_r2)

Validation Mean Absolute Error: 77218.20784225203
Validation R^2: 0.9713470690537497


Test Mean Absolute Error: 75335.6009346274
Test R^2: 0.9817421852419586